
footer {
	background-color: white;

}

.copyright {
	padding-left: 20px;
	font-size: 14px;
	font-weight: 300;
	color: #838383;
}

.logo {
	font-weight: 500;
	font-size: 60px;
}

h3.logo {
	margin: 40px;
}

.menu {
	margin-top: 40px;
	display: flex;
	list-style-type: none;
	padding-inline-start: 0px;
}

.menu li {
	padding: 10px 20px;
}

.menu li a {
	color: #474747;
}

